OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=seamon67/Ministral-3-Reasoning:14b


# To allow for cross origin when self hosting both local-bridge, ui, gateway and ollama on same host
# Used in tool_gateway.py, pointing to external ollama port
LOCAL_SERVER_URL=http://123.123.123.123:11434

# Both external and internal port for the UI container
# Can be changed, without deprecation or errors
UI_PORT=4000

# Both the external and internal port for the GATEWAY container
# Do not change unless you want to debug frontend tools
GATEWAY_PORT=4100

# Your archon backend port. It is likely, but not a guarantee, that we will make archon optional.
# Since archon is open source mcp knowledge base it is however a very good "tool".
#  Archon could instead be directly implemented into the docker-compose.
ARCHON_BASE_URL=http://123.123.123.123:8181

# Allowed web search iterations for the same query
WEB_SEARCH_MAX_RESULTS=5
# Allowed tool usage loops for the same user request.
# TODO Needs logical usage rework, currently being implemented as max iterations;
#  instead of being used as the name indicates it to be.
MAX_TOOL_LOOPS=5

# NOT IMPLEMENTED
# SHOWS INTENT to be implemented.
# Allowed overall (git, remote) - local is placeholder from current use in local bridge.
FILES_STORED_METHOD=local